---
title: VAD
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black text-slate-300 no-scrollbar">
    <div class="md:w-[768px] md:mx-auto">
      <nav class="flex pt-8 pb-5 text-rose-600 px-5">
        <div class="hover:text-white mr-4">
          <a href="/">home</a>
        </div>
        <div class="hover:text-white mr-4">
          <a href="/docs">docs</a>
        </div>
        <div class="hover:text-white">
          <a href="http://github.com/ricky0123/vad">github</a>
        </div>
      </nav>
    </div>
    {{ content | safe }}
  </body>
</html>
