---
layout: layouts/base.njk
---

<div>
  <div class="pb-5 leading-relaxed px-5 md:w-[768px] md:mx-auto">
    {% for doc in collections.sidebarItems %}
      {% if doc.url == page.url %}
      <div>
        <span class="text-blue-500">-></span>
        <a href="{{ doc.url }}" class="text-slate-400 hover:text-white mb-1">
          {{ doc.data.sidebarLabel }}
        </a>
      </div>
      {% else %}
      <div>
        <a href="{{ doc.url }}" class="text-slate-400 hover:text-white mb-1">
          {{ doc.data.sidebarLabel }}
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <article class="prose prose-invert max-w-none pb-5 px-5 md:w-[768px] md:mx-auto">
    {{ content | safe }}
  </article>
</div>
